.canvas_container {
  text-align: center;
  border: 5px solid darken($color: $color-primary, $amount: 15);
  max-width: 800px;
  max-height: 100vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  gap: 10px;
  overflow: scroll;
}
canvas {
  border: 1px solid black;
  margin: 0 2rem;
  // border: 1px solid #ccc;
  // padding: 10px;
}
