.table-container {
  margin: 20px 1.6rem;
  overflow-x: auto;
  font-size: 1.6rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th,
td {
  padding: 2rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: $color-primary;
  font-weight: 600;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  background-color: $color-primary;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pagination button:hover {
  background-color: $color-primary;
}

#pagination button:disabled {
  background-color: #ccc;
  cursor: default;
}

#currentPage {
  font-size: 1.1em;
}
.center-text {
  text-align: center;
}
.text-overflow {
  max-width: 10rem; /* Adjust as needed */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.capitalize {
  text-transform: capitalize;
}
